
  /**************** App ******************/
  /***************************************/
  /*
   #tableContainer
    {
      position: absolute;
      display: block;
      margin-top: 50%;
      margin-bottom: 50%;
      margin-right: 50%;
      margin-left: 50%;
      float: right;
    }

 #tableContainer
    {
      position: absolute;
      display: flex;
      margin-top: 50%;
      margin-bottom: 50%;
      margin-right: 50%;
      margin-left: 50%;
      justify-content: center;
    }
     .grid-container {
    display: grid;
    margin-left:auto;
    margin-right:auto;
    width: 100%; 
  }
  */

  @media screen and (max-width: 320px) { 
    .side-bar 
    {
      min-height: 100%;
    }

    
  .sidenav {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    background-color: white;
 /*   width: 160px; /* Set the width of the sidebar 
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgb(60,60,60); /* Black 
   // overflow-x: hidden; /* Disable horizontal scroll 
    padding-top: 60px;*/
  }
    
    .App-header {
      display: grid;
      margin-left:auto;
      margin-right:auto;

      /* 
      margin: 0 auto; /* This will center the border. 

      align-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
      
      font-size: calc(10px + 2vmin); background-color: rgb(60,60,60) !important;
      
         width: 100%;
      height: 100vh;
      background-size: cover; 
      */
   
    }
   

  
  }

  
 
  
 .DashboardOneClass {
    background-size: cover;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-link {
    color: #61dafb;
  }
  
  .wrapper{
    z-index: 9;
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  
  .sidenav {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    background-color:white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 12px 14px 20px; 
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }



  
  .notifications .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
    z-index: 999; 
  }

  
  /************** DashboardOne ***************/
  /***************************************/
  
  .trade .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  #tableContainer
  {
    position: absolute;
    float: none;
    top: 150px;





  }

  
  /************** Stock Table One ******************/
  /*************************************************/
  .stockTableOneHeader   
    {  
      position: absolute;
      table-layout: fixed;
      border-collapse: collapse;
      font-family: sans-serif;
      min-height: 10px;
      font-size: 14px;
      width: 25rem;
      left: 0px;
      top: 0px;
      background-color: rgb(40, 40, 40);
      z-index: -999;
    }

   .stockTableOne 
   {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    column-width: 44px;
    width: 25rem;
    left: 0px;
    top: 50px;
   
  }
 
  .stockTableOne, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
  }

  .stockTableOneHeader th:hover { background-color: rgb(15, 223, 132); }

  .stockTableOne tr:nth-child(even){background-color: rgb(40,40,40);}

  
  /************** Stock Table Two ******************/
  /*************************************************/

  .stockTableTwoHeader   
  {  
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 10px;
    width: 60rem;
    left: 0px;
    top: 35px;
    
    background-color: rgb(40,40,40);
    z-index: 888;
    
  }

  .stockTableTwoHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .stockTableTwo  {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
   /* height: 1200px;
    min-height: 1200px;*/
    width: 60rem;
    left: 0px;
    top: 35px;
  }

  #searchIcon
  {
    position: absolute;
    background: url("../src/images/SearchIcon.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: context-menu;
    font-weight: bold;
    height: 29px;
    width: 30px;
    top: 0px;
  }

  .stockTableTwoMenu .dropdown {
    position: relative;
    top: 0px;
    right: 0px;
  }
  
  .stockTableTwoMenu .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
    z-index: 999; 
  }
  
  .stockTableTwoMenu .dropdown:hover .dropdown-content {
    display: inline-block;
    overflow-y: visible;
   
  }

  .stockTableTwo, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
    
  }

 /* .stockTableTwoHeader th:hover { background-color: rgb(40,40,40); }

  
  .stockTableTwo tbody:nth-child(odd) tr {background-color: rgb(40,40,40); }*/

  
  /************** Scanner Table  ******************/
  /*************************************************/

  .scannerHeader   
  {  
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 12.5px;
    min-height: 10px;
    width: 80rem;
    left: 0px;
    top: 35px;
    
    background-color: rgb(40,40,40);
    z-index: 888;
    
  }

  .scannerHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .scannerTable  {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 12.5px;
   /* height: 1200px;
    min-height: 1200px;*/
    width: 80rem;
    left: 0px;
    top: 35px;
  }

  #searchIcon
  {
    position: absolute;
    background: url("../src/images/SearchIcon.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: context-menu;
    font-weight: bold;
    height: 29px;
    width: 30px;
    top: 0px;
  }

  .scannerTable  .dropdown {
    position: relative;
    top: 0px;
    right: 0px;
  
  
  }
  
  .scannerTable .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
    z-index: 999; 
  }
  
  .scannerTable .dropdown:hover .dropdown-content {
    display: inline-block;
    overflow-y: visible;
   
  }

  .scannerTable, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
    
  }
  
  /************** PortFolio Table ******************/
  /*********************************************/

  .portfolioTableHeader
  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    min-width: 78rem;
    min-height: 10px;
    height: 1rem;
    font-weight: 100;
    font-size: 14px;
    width: 78rem;
    left: 0px;
    top: 45px;
    background-color:  rgb(40,40,40); 
  }

  .portfolioTableHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .portfolioTable  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    height: 30px;
    font-size: 14px;
    min-width: 78rem;
  /*  min-height: 1200px;*/
    width: 78rem;
    left: 0px;
    top: 45px;
  }
  
  .portfolioTable, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
  }

  
  .portfolio .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
    z-index: 999;
  }

  
  /* **************************************************
  // Media Queries
  // **************************************************/
  
  .historical .removeHistoricalStock {
    position: absolute;
    top: 130px;
    left: 1440px;
  }


  .portfolio .removeStock {
    position: absolute;
    top: 130px;
    left: 1243px;
  }

  .portfolio .addStock {
    position: absolute;
    top: 130px;
    left: 1170px;
  }

  .portfolio .editStock {
    position: absolute;
    top: 130px;
    left: 1103px;
  }

  .historical .removeStock {
    position: absolute;
    top: 130px;
    left: 1273px;
  }

  .historical .addStock {
    position: absolute;
    top: 130px;
    left: 1170px;
  }

  .historical .centerTable {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*
  .stockTableOneWrap
  {
    position: absolute;
    left: -100px;
  }*/

  .editStockForm
  {
    position: absolute;
    left: 1000px;
    top: 220px;
    width: 20rem;
    height: 22rem;
    background-color: white;
    justify-content: center;
    
  }

  .addStockForm
  {
    position: absolute;
    left: 1000px;
    top: 220px;
    width: 20rem;
    height: 22rem;
    background-color: white;
    justify-content: center;
    
  }
  
/***************** StockForms **********************/

@media screen and ( min-width: 100px ) {
 
  .editStockForm
  {
    position: absolute;
    height: 37rem;
  }

  .addStockForm
  {
    position: absolute;
    height: 37rem;
  }

}
@media screen and ( min-width: 200px ) {
  
  .editStockForm
  {
    position: absolute;
    height: 32rem;
  }

  .addStockForm
  {
    position: absolute;
    height: 32rem;
  }
 
}

@media screen and ( min-width: 300px ) and ( max-width: 690px ){
  .editStockForm
  {
    position: absolute;
    height: 32rem;
  }

  .addStockForm
  {
    position: absolute;
    height: 32rem;
  }
}

/* Solve zooming issue at 200% 
@media screen and ( min-width: 1100px ) {
  .editStockForm
  {
    position: absolute;
    height: 22rem;
  }
}*/


@media screen and ( min-width: 690px ) and  ( max-width: 1390px ){
  .editStockForm
  {
    position: absolute;
    height: 22rem;
  }

  .addStockForm
  {
    position: absolute;
    height: 22rem;
  }
}

@media screen and ( min-width: 1400px ) {
  .editStockForm
  {
    position: absolute;
    height: 22rem;
  }

  .addStockForm
  {
    position: absolute;
    height: 22rem;
  }
}


/***************************************/

  

/*****************Stock table one**********************/

  @media screen and ( min-width: 100px ) {
    .stockTableOneWrap
    {
      position: absolute;
      left: -135px;
    }
  }
  @media screen and ( min-width: 200px ) {
    .stockTableOneWrap
    {
      position: absolute;
      left: -135px;
    }
  }
  @media screen and ( min-width: 300px ) and ( max-width: 690px ){
    .stockTableOneWrap
    {
      position: absolute;
      left: -135px;
    }
  }
  @media screen and ( min-width: 690px ) and  ( max-width: 1390px ){
    .stockTableOneWrap
    {
      position: absolute;
      left: -6px;
    }
  }

  @media screen and ( min-width: 1400px ) {
    .stockTableOneWrap
    {
      position: absolute;
      left: -6px;
    }
  }


/***************************************/


  @media screen and (min-width: 320px) { 
    
    .historical .removeHistoricalStock {
      position: absolute;
      top: 130px;
      left: 1440px;
    }
    
    .portfolio .removeStock {
      position: absolute;
      top: 130px;
      left: 1240px;
    }

    .portfolio .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    .portfolio .editStock {
      position: absolute;
      top: 130px;
      left: 1103px;
    }

    .historical .centerTable {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .historical .removeStock {
      position: absolute;
      top: 130px;
      left: 1273px;
    }
  
    .historical .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    .side-bar 
    {
      min-height: 100%;
    }

  }

  
  @media screen and (min-width: 800px) and (max-width: 1025px) { 
   
    .historical .removeHistoricalStock {
      position: absolute;
      top: 130px;
      left: 1350px;
    }

    .portfolio .removeStock {
      position: absolute;
      top: 130px;
      left: 1090px;
    }
      
    .portfolio .addStock {
      position: absolute;
      top: 130px;
      left: 1020px;
    }

    .portfolio .editStock {
      position: absolute;
      top: 130px;
      left: 953px;
    }

    .historical .centerTable {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .historical .removeStock {
      position: absolute;
      top: 130px;
      left: 1273px;
    }
  
    .historical .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    .side-bar 
    {
      min-height: 100%;
    }
  }

  @media screen and (min-width: 640px) and (max-width: 691px) { 
  
    .historical .removeHistoricalStock {
      position: absolute;
      top: 130px;
      left: 1350px;
    }

    .portfolio .removeStock {
      position: absolute;
      top: 130px;
      left: 1090px;
    }

    .portfolio .addStock {
      position: absolute;
      top: 130px;
      left: 1020px;
    }

    .portfolio .editStock {
      position: absolute;
      top: 130px;
      left: 953px;
    }
   
    .historical .removeStock {
      position: absolute;
      top: 130px;
      left: 1273px;
    }
  
    .historical .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    /* Center table */
    .historical .centerTable {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .side-bar 
    {
      min-height: 100%;
    }
  }
  
  @media screen and (min-width: 578px) and (max-width: 800px) { 
   
    .historical .removeHistoricalStock {
      position: absolute;
      top: 130px;
      left: 1350px;
    }


    .portfolio .removeStock {
      position: absolute;
      top: 130px;
      left: 1090px;
    }

    .portfolio .addStock {
      position: absolute;
      top: 130px;
      left: 1020px;
    }

    .portfolio .editStock {
      position: absolute;
      top: 130px;
      left: 953px;
    }

    .historical .removeStock {
      position: absolute;
      top: 130px;
      left: 1273px;
    }
  
    .historical .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    .historical .centerTable {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @media screen and (min-width: 100px) and (max-width: 578px) { 

    .historical .removeHistoricalStock {
    position: absolute;
    top: 130px;
    left: 1350px;
  }

    .portfolio .removeStock {
      position: absolute;
      top: 130px;
      left: 1090px;
    }

    .portfolio .addStock {
      position: absolute;
      top: 130px;
      left: 1020px;
    }

    .portfolio .editStock {
      position: absolute;
      top: 130px;
      left: 953px;
    }

    .historical .removeStock {
      position: absolute;
      top: 130px;
      left: 1273px;
    }
  
    .historical .addStock {
      position: absolute;
      top: 130px;
      left: 1170px;
    }

    .historical .centerTable {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

   

  }

  /************** Historical Table ******************/
  /*********************************************/

  .wrap {
    display: table;
    width: 40rem;
    height: 100%; /* need to set height for this to work in Chrome */
  }
  .cell-wrap {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }
  .cell-wrap.left {
    padding-right: 10px;  /* if you need some whitespace */
  }

  .historical .historicalTableHeader
  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    min-width: 40rem;
    min-height: 10px;
    height: 1rem;
    font-weight: 100;
    font-size: 14px;
    width: 40rem;
    left: 0px;
    top: 45px;
    background-color:  rgb(40,40,40); 
  }

  .historical .historicalTable  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    height: 100px;
    font-size: 14px;
    min-width: 40rem;
  /*  min-height: 1200px;*/
    width: 40rem;
    left: 0px;
    top: 45px;
  }
  
  .historical .historicalTableHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .historical .historicalTable, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
  }

  
  .historical .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
    z-index: 999;
  }

   /************** Filter Table ******************/
  /*********************************************/

  .filter .filterTableHeader
  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    min-width: 48rem;
    min-height: 10px;
    height: 1rem;
    font-weight: 100;
    font-size: 14px;
    width: 48rem;
    left: 0px;
    top: 45px;
    background-color:  rgb(40,40,40); 
    
  }

   .filter .filterTable  {
    position: absolute;
    table-layout: fixed;
    font-family: sans-serif;
    height: 30px;
    font-size: 12px;
    min-width: 48rem;
  /*  min-height: 1200px;*/
    width: 48rem;
    left: 675px;
    top: 85px;
  }
  
  .filter .filterTableHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .filter .filterTable, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
 
  }

  .filter .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    right: 0px;
   
  }

  /************** Alert Table ******************/
  /*********************************************/

  .alertTableHeader
  {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    min-height: 10px;
    height: 1rem;
    font-weight: 100;
    font-size: 14px;
    width: 50rem;
    left: 0px;
    top: 45px;
    background-color:  rgb(40,40,40); 
    
  }

  .alertTableHeader thead:nth-child(odd) th
  {
    border-bottom: 5px solid rgba(27, 209, 130, 0.897); 
    line-height: 1;
  }

  .alertTable  {
    position: absolute;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
  /*  min-height: 1200px;*/
    width: 50rem;
    left: 0px;
    top: 45px;
    
  }
  
 .alertTable, th, td{
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);
  }

 /* .alertTable th:hover { background-color: rgb(40,40,90); }

  .alertTable tbody:nth-child(even) tr {background-color: rgb(40,40,40);}*/

/****************  Record ***********************/
/*********************************************/

  .record{
    /*background-color: 'rgb(40,40,40)';*/
    font-size: 14px;
    font-weight: 300;
  }

  .record:hover { background-color: rgba(253, 253, 253, 0.678); }

/************** DashboardNavbar ***************/
/*********************************************/

    

    .DashboardNavbar .toggleNotifications {
      position: absolute;
      top: 10px;
      left: 1350px;
      box-shadow:inset 0px 0px 3px 0px #91b8b3;
      background-color:rgb(40,40,40);
      border-radius:12px;
      border:1px solid rgb(40,40,40);
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Times New Roman;
      font-size:16px;
      padding:9px 18px;
      text-decoration:none;
      text-shadow:0px -1px 0px #2b665e;

    }
    
    .DashboardNavbar .toggleNotifications:hover {
      background-color:#6c7c7c;


    }

  .DashboardNavbar #dashboard
    {
      position: absolute;
      font-weight: bold;
      font-family: 'sans-serif';  
      left: 60px;
    }

  .DashboardNavbar #index
  {
    position: absolute;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'sans-serif';  
    left: 300px;
    top: 0px;
  }

  .DashboardNavbar #msCap
  {
    position: absolute;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'sans-serif';  
    left: 600px;
    top: 0px;
  }

  .DashboardNavbar #startScan
  {
    position: absolute;
    font-weight: lighter;
    font-size: 17px;
    font-family: 'sans-serif';  
    left: 60px;
    top: 30px;
  }

  .DashboardNavbar #lastScan
  {
    position: absolute;
    font-weight: lighter;
    font-size: 17px;
    font-family: 'sans-serif';  
    left: 300px;
    top: 30px;
  }

  .DashboardNavbar #Ace
  {
    position: absolute;
    font-weight: lighter;
    font-size: 17px;
    font-family: 'sans-serif';  
    left: 600px;
    top: 30px;
  }

  .DashboardNavbar .notifications .dropdown {
    position: relative;
    top: 0px;
    left: 0px;
    
  }
  
  .DashboardNavbar .notifications .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    top: 19px;
    left: 0px;
    
  }
  
  .DashboardNavbar .notifications .dropdown:hover .dropdown-content {
    display: inline-block;
    overflow-y: visible
  }

  .DashboardNavbar .notifications, th, td{
    position: 'relative';
    padding: 2.5px;
    border: 0.5px solid black;
    color:	rgb(255,250,250);    
  }

  .DashboardNavbar .notifications .record
  {
    background-color: 'rgb(40,40,40)';
    font-size: 14px;
    font-weight: 300;
    
  }

  .DashboardNavbar .notifications .record:hover { background-color: rgb(40,40,90); }

/************** TopNavbar ********************/
/*********************************************/

  #stockScreener
  {
    position: absolute;
    font-weight: lighter;
    font-family: 'sans-serif';  
    left: 60px;
  }

  .side-bar 
  {
    min-height: 100%;
    margin:auto;
  }

  #home_
  {
    position: absolute;
    background: url("../src/images/Home.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
    top: 70px;
    left: 0px;
  }

  #GreenArrow
  {
    position: absolute;
    background: url("../src/images/GreenArrowUp.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 150px;
    width: 100px;
  }

  #RedArrow
  {
    position: absolute;
    background: url("../src/images/redArrowDown.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 150px;
    width: 100px;
  }

  #startScan_
  {
    position: absolute;
    background: url("../src/images/startScan.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
    top: 140px;
    left: 0px;
  }

  #stopScan_
  {
    position: absolute;
    background: url("../src/images/stopScan.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
    top: 210px;
    left: 0px;
  }

  #settings_
  {
    position: absolute;
    background: url("../src/images/settings.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
    top: 280px;
    left: 0px;
  }
  
  #report_
  {
    position: absolute;
    background: url("../src/images/report.jpeg") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    
    top: 350px;
    left: 0px;
  }

  #ndsa_
  {
    position: absolute;
    background: url("../src/images/ndsa.jpeg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    font-weight: bold;
    height: 53px;
    width: 50px;
    
    top: 420px;
    left: 0px;
  }

  #exit_
  {
    position: absolute;
    background: url("../src/images/exit.jpeg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    font-weight: bold;
    height: 53px;
    width: 50px;
    
    top: 490px;
    left: 0px;
  }

  .selectDashboard{
    position: absolute;
    top: 30px;
    left: 200px;
  }

   #selectDashboard{
    position: absolute;
    top: 10px;
    left: 100px;
    font-size: 18px;
    font-family: 'sans-serif';  
    color: white;
  }

  /**************** DashboardNavbar ************************/
  /***********************************************************/

  .DashboardNavbar .saveConfiguration
  {
    box-shadow:inset 0px 0px 3px 0px #91b8b3;
    background-color:rgb(40,40,40);
    border-radius:9px;
    border:1px solid rgb(40,40,40);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:16px;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }

  .DashboardNavbar .addToHistorical
  {
    box-shadow:inset 0px 0px 3px 0px #91b8b3;
    background-color:rgb(40,40,40);
    border-radius:10px;
    border:1px solid rgb(40,40,40);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:16px;
    padding: 6px 6px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }

  
  .DashboardNavbar .removeStock
  {
    box-shadow:inset 0px 0px 3px 0px #91b8b3;
    background-color:rgb(40,40,40);
    border-radius:10px;
    border:1px solid rgb(40,40,40);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:16px;
    padding: 6px 6px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }

  .DashboardNavbar .removeStock:hover {
    background-color:#6c7c7c;
  }

  .DashboardNavbar .addToHistorical:hover {
    background-color:#6c7c7c;
  }

  .DashboardNavbar .saveConfiguration:hover {
    background-color:#6c7c7c;
  }

  .DashboardNavbar .frequencyAdjust{
    transform: translateY(25px)
  }

  
  .DashboardNavbar .design
  {
    box-shadow:inset 0px 0px 3px 0px #91b8b3;
    background-color:rgb(40,40,40);
    border-radius:10px;
    border:1px solid rgb(40,40,40);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:16px;
    padding: 6px 6px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }


  .DashboardNavbar #selectMarket{
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 14px;
    font-family: 'sans-serif';  
    color: white;
  }

  .DashboardNavbar .selectMarket{
    position: absolute;
    top: 30px;
    left: 100px;
  }

  .DashboardNavbar #alertFrequency{
    position: absolute;
    top: 70px;
    left: 100px;
    font-size: 14px;
    font-family: 'sans-serif';  
    color: white;
  }

  .DashboardNavbar .alertFrequency{
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .DashboardNavbar #customalertFrequencyLabel{
    position: absolute;
    top: 133.5px;
    left: 120px;
    color: white;
  }

  .DashboardNavbar #customalertFrequency{
    position: absolute;
    top: 140px;
    left: 100px;
    font-size: 18px;
    font-family: 'sans-serif';  
    color: white;
  }

  .DashboardNavbar .customalertFrequency{
    position: absolute;
    top: 160px;
    left: 100px;
  }

  .DashboardNavbar .alertFrequencyMinutes{
    position: absolute;
    top: 170px;
    left: 180px;
    color: white;
  }

  /* Alert Time */
  .DashboardNavbar .alertTime{
    transform: translate(40px, 25px);
  }

  .DashboardNavbar .alertTime #alertCriteria{
    position: absolute;
    top: -25px;
    left: 300px;
    font-size: 18px;
    font-family: 'sans-serif';  
    color: white;
  }

  .DashboardNavbar .alertTime  #startTime{
    position: absolute;
    top: 26px;
    left: 300px;
    color: white;
  }
  
  .DashboardNavbar .alertTime  #endTime{
    position: absolute;
    top: 86px;
    left: 300px;
    color: white;
  }

  .DashboardNavbar .alertTime  .startTime{
    position: absolute;
    top: 26px;
    left: 380px;
  }

  .DashboardNavbar .alertTime  .endTime{
    position: absolute;
    top: 86px;
    left: 380px;
  }


  .DashboardNavbar .alertTime  .manualAlerts{
    position: absolute;
    top: 130px;
    left: 300px;
  }

  .DashboardNavbar .alertTime #manualAlerts{
    position: absolute;
    top: 125px;
    left: 320px;
    color: white;
  }

  .DashboardNavbar .autoAlerts{
    position: absolute;
    top: 130.5px;
    left: 395px;
  }

  .DashboardNavbar #autoAlerts{
    position: absolute;
    top: 125.5px;
    left: 415px;
    color: white;
  }

  .DashboardNavbar .manualAlertsNotifications{
    position: absolute;
    top: 160px;
    left: 300px;
  }

  .DashboardNavbar #manualAlertsNotifications{
    position: absolute;
    top: 155px;
    left: 320px;
    color: white;
  }

  /* Table Settings */

  .DashboardNavbar .tableSettings{
    color: white;
    font-size: 13px;  
    transform: translateX(50px);
  }
  
  .DashboardNavbar #table_{
    position: absolute;
    top: 0px;
    left: 765px;
    font-size: 18px;
    font-family: 'sans-serif';  
    color: white;
  }

  
  .DashboardNavbar #volumeNum
  {
    position: absolute;
    top: 30px;
    left: 765px;
    font-size: 35px;
    font-family: 'sans-serif';  
    color: white;
  }

  
  .DashboardNavbar #volume_{
    position: absolute;
    top: 80px;
    left: 793px;
    font-size: 14px;
    font-family: 'sans-serif';  
    color: white;
  }

  
  .DashboardNavbar #marketCap
  {
    position: absolute;
    top: 130px;
    left: 765px;
    font-size: 35px;
    font-family: 'sans-serif';  
    color: white;
  }

  
  .DashboardNavbar #marketCap_{
    position: absolute;
    top: 180px;
    left: 781.5px;
    font-size: 14px;
    font-family: 'sans-serif';  
    color: white;
  }



  .vl {
    position: absolute;
    top: 0px;
    left: 550px;
    border-left: 1px solid white;
    height: 14.5rem;
  }

  .v2 {
    position: absolute;
    top: 0px;
    left: 1110px;
    border-left: 1px solid white;
    height: 14.5rem;
  }

  .DashboardNavbar #stockName{
    position: absolute;
    top: 60px;
    left: 575px;
    transform: translate(0px, -16.5px);
  }

  .DashboardNavbar .stockName{
    position: absolute;
    top: 60px;
    left: 560px;
  }

  .DashboardNavbar #time{
    position: absolute;
    top: 60px;
    left: 645px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .time{
    position: absolute;
    top: 60px;
    left: 630px;
  }
  
  .DashboardNavbar #price{
    position: absolute;
    top: 60px;
    left: 705px;
    transform: translate(0px, -5px); 
  }

  .DashboardNavbar .price{
    position: absolute;
    top: 60px;
    left: 690px;
  }

  .DashboardNavbar #high{
    position: absolute;
    top: 60px;
    left: 770px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .high{
    position: absolute;
    top: 60px;
    left: 755px;
  }

  .DashboardNavbar #low{
    position: absolute;
    top: 60px;
    left: 830px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .low{
    position: absolute;
    top: 60px;
    left: 815px;
  }

  .DashboardNavbar #profitLoss{
    position: absolute;
    top: 60px;
    left: 885px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .profitLoss{
    position: absolute;
    top: 60px;
    left: 870px;
  }

  .DashboardNavbar #profitLossPercentage{
    position: absolute;
    top: 60px;
    left: 955px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .profitLossPercentage{
    position: absolute;
    top: 60px;
    left: 940px;
  }


  .DashboardNavbar #volume{
    position: absolute;
    top: 60px;
    left: 1035px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .volume{
    position: absolute;
    top: 60px;
    left: 1020px;
  }

/* Alert Table */

  .DashboardNavbar .disableAlertColumns #alertStockName{
    position: absolute;
    top: 60px;
    left: 575px;
    transform: translate(0px, -16.5px);
  }

  .DashboardNavbar .disableAlertColumns .alertStockName{
    position: absolute;
    top: 60px;
    left: 560px;
  }
  
  .DashboardNavbar .disableAlertColumns #alertStockTime{
    position: absolute;
    top: 60px;
    left: 645px;
    transform: translate(0px, -16.5px);
  }

  .DashboardNavbar .disableAlertColumns .alertStockTime{
    position: absolute;
    top: 60px;
    left: 630px;
  }
  
  .DashboardNavbar .disableAlertColumns #alertPrice{
    position: absolute;
    top: 60px;
    left: 705px;
    transform: translate(0px, -5px); 
  }

  .DashboardNavbar .disableAlertColumns .alertPrice{
    position: absolute;
    top: 60px;
    left: 690px;
  }

  .DashboardNavbar .disableAlertColumns #alertProfitLoss{
    position: absolute;
    top: 60px;
    left: 770px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .disableAlertColumns .alertProfitLoss{
    position: absolute;
    top: 60px;
    left: 755px;
  }

  .DashboardNavbar .disableAlertColumns #alertProfitVolume{
    position: absolute;
    top: 60px;
    left: 850px;
    transform: translate(0px, -5px);
  }

  .DashboardNavbar .disableAlertColumns .alertProfitVolume{
    position: absolute;
    top: 60px;
    left: 835px;
  }

  /* Price Detection */

  .DashboardNavbar .priceDetection{
    color: rgb(60,60,60);
    transform: translate(60px,0px);
  }

  .DashboardNavbar .priceDetection #priceDetection{
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 18px;
    font-family: 'sans-serif'; 
  }

  .DashboardNavbar .priceDetection .startPrice{
    position: absolute;
    top: 38px;
    left: 1220px;
  }

  .DashboardNavbar .priceDetection .endPrice{
    position: absolute;
    top: 100px;
    left: 1220px;
  }

  .DashboardNavbar .priceDetection #priceRange{
    position: absolute;
    top: -2px;
    font-size: 16px;
    left: 1130px;
    color: white;
  }

  .DashboardNavbar .priceDetection #startPriceLabel{
    position: absolute;
    top: 6px;
    left: -90px;
    color: white;
  }

  .DashboardNavbar .priceDetection #endPriceLabel{
    position: absolute;
    left: -90px;
    color: white;
  }

  .DashboardNavbar .priceDetection #enablePriceCheck{
    position: absolute;
    top: 145px;
    left: 1150px;
    color: white;
  } 

  .DashboardNavbar .priceDetection .enablePriceCheck{
    position: absolute;
    top: 151px;
    left: 1130px;
    color: white;
  }

  /* Override Prices */ 
  .DashboardNavbar .priceDetection #overridePrices{
    position: absolute;
    top: 175px;
    left: 1150px;
    color: white;
  } 

  .DashboardNavbar .priceDetection .overridePrices{
    position: absolute;
    top: 180px;
    left: 1130px;
    color: white;
  }

   /* Hide Bullish Stocks */

  .DashboardNavbar .priceDetection #hideBullishStocks{
    position: absolute;
    top: 38px;
    left: 1335px;
    color: white;
  } 

  .DashboardNavbar .priceDetection .hideBullishStocks{
    position: absolute;
    top: 42px;
    left: 1315px;
    color: white;
  }

  /* Hide Bearish Stocks */ 

  .DashboardNavbar .priceDetection #hideBearishStocks{
    position: absolute;
    top: 70px;
    left: 1335px;
    color: white;
  } 

  .DashboardNavbar .priceDetection .hideBearishStocks{
    position: absolute;
    top: 75px;
    left: 1315px;
    color: white;
  }

  .DashboardNavbar .disableColumns{
    transform: translate(0px, 15px);
  }

  .DashboardNavbar .disableAlertColumns{
    transform: translate(0px, 75px);
  }

/************** DashboardOneSettings table ***************/
/*********************************************************/

  .containerDiv {
    position: absolute;
    border: 1px solid #3697f6;
    width: 30rem; 
    top: 300px;
    display:table
  }

  .rowDivHeader {
    border: 1px solid #668db6;
    background-color: #336799;
    color: white;
    font-weight: bold; display:table-row
  }

  .rowDiv {
    border: 1px solid #668db6;
    background-color: #cee6fe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display:table-row
  }

  .cellDivHeader {
    border-right: 1px solid white;
    display: table-cell;
    width:12%;
    padding: 1px;
    text-align: center; 
  }

  .cellDiv {
    border-right: 2px solid white;
    display: table-cell;
    width:10%;
    padding-right: 4px;
    text-align: center;
    border-bottom: none;
  }

  .containerDiv .rowDiv input {
    justify-content: center;
  }

  .containerDiv:hover .rowDiv input ~ .checkmark {
    background-color: #ccc;
  }

  .checkBoxContainer{
    position: absolute;
    left: 100px;
    color: #ccc;
  }

  .containerOne {
    display: block;
    position: relative;   
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerOne input{
    float: left;
    position: relative;
    top: 10px;
    right: 5px;
  }

  .containerTwo {
    display: block;
    position: relative;   
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: -10px;
  }

  .containerTwo input{
    float: left;
    position: relative;
    top: 10px;
    right: 5px;
  }


