.securities-menu {
  width: 100%; /* Adjust width as per your design requirement */
  background-color: #f4f4f4;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling */ 
}

.securities-menu ul {
  list-style: none;
  padding: 0;
  font-size: small;
  margin: 0;
}
.selected{
  background-color: gray;
}

.securities-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.securities-menu li:hover {
  background-color: #ddd; /* Highlight on hover */
}
.securities-menu li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

