body
{
  background-color: rgb(30, 30, 30) !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.App {
  text-align: center;
  overflow-x: visible;
  background-color: rgb(60,60,60);
  color:  rgb(60,60,60);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/**************** App ******************/
/***************************************/

@media screen and (max-width: 320px) { 
  .App-header {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  /*  font-size: calc(10px + 2vmin);*/

    overflow-y: visible;
  }
}

.App-link {
  color: #61dafb;
}


.wrapper{
  z-index: 9;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed;
  left: 0;
  top: 0;
  background-color:rgb(60,60,60); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 12px 14px 20px; 
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/*************** Form ****************/
/************************************/

nav > .nav.nav-tabs{
    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;
    margin-top: 0px;
}

.nav a{
  color: #fff !important;
  font-size:  calc(8pt + 1vmin) !important;
  margin-top: 0px;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    color:#fff;
    background: grey;
    min-height: 20pt;
    min-width: 100pt;
    border-radius:0;
}

.tab{
  border: none;
  color:#fff;
  background: grey;
  min-height: 20pt;
  min-width: 100pt;
  border-radius:0;
}

.mainForm{

  position: -webkit-sticky;
  position: sticky;
  height: 28rem;
  width: 18rem;
  background: 	#F8F8F8;
  border-radius: .7em;
  min-width: 18rem;
  box-shadow: 0.5px 0.5px 0.5px black;
  transform: translate(0px, 150px);
  margin: auto;
  overflow: visible;
  left: 40%;
 /* box-shadow: 0 0 0 .1em grey;
  outline: .1em solid grey;*/
}

.loginButton
{
  position: absolute;
  width: 78%;
  right: 35px;
}

.text-email{
  position: relative;
  color:black;
  font-size: 1rem;
  font-weight: lighter;
  margin: 20px;
  padding: 0px;
  top: 10px;
  left: -93px;
}

.text-password{
  position: relative;
  color:black;
  font-size: 1rem;
  font-weight: lighter;
  margin: 10px;
  padding: 0px;
  top: -20px;
  left: -80px;
}

#emailBox
{
  position: relative;
  width: 220px;
  margin: 5px; 
  top: -10px;
  left: 25px;
}

#passwordBox
{
  position: relative;
  width: 220px;
  margin: 0px; 
  padding: -10px;
  top: -20px;
  left: 30px;
}

/************** Trade ****************/
/*************************************/

.trade  .mainForm{
  position: -webkit-sticky;
  position: sticky;
  height: 28rem;
  width: 23rem;
  background:	#F8F8F8;
  border-radius: .7em;
  min-width: 18rem;
  box-shadow: 0.5px 0.5px 0.5px black;
  overflow: visible;
  cursor: pointer;
  transform: translate(0px, 0px);
}

/************** DashboardOne ***************/
/***************************************/

.trade .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.dropzoneOne{ 
  width: 19rem;
  height: 28rem; 
}

.dropzoneTwo{
  display: absolute;
  background-color: rgb(160, 19, 19);
  width: 50%;
  height: 28rem;
  transform: translate(350px, -448px);
}


@media screen and (max-width: 800px) { 
  
}
